/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Appliquer le style roboto a body */
body {
    font-family: "Roboto"  sans-serif;
}


header {
    background-color: #024959;/* Couleur de l'arriere plan */
   
}


/* styliser la navbar */
.navbar {
    display: inline; 
    margin: 10px;  
    margin-left: 250px; 
    

}


.navbar ul {
    list-style: none;
     margin-left: 700px; 
   
}


.navbar li {
    display: inline-block;
    margin-right: 10px;
  
}


.navbar li a{
    padding: 10px 20px; /* Ajouter de l'espace autour du texte */
    border-radius: 5%;
    color:  #D9B29C;/* Couleur du texte */
    text-decoration: none; /* Supprimer la décoration du texte */
    font-size: 20px; /* Taille de la police */
    font-weight: bold; /* Gras */
}


main {
    margin-top: 30px;
   
}


.section1 {
    margin-top: 30px;
    padding: 20px;
    color: #024959;
    background-color: #024959;
    height: 600px;
    border-radius: 5% 0 5% 0;

}



.section1 h1{
    width: 50%; 
    margin: 20px;
    color: #D9B29C;
   
}


.container{
    display: flex;
    padding: 20px;
    font-size: 20px;
    width: 50%;
    height: 450px;
    border-bottom: 5%;
    background-color:#D9B29C ;
    border-radius: 0 5% 0 5%;
    box-shadow: 16px -16px #FEFAE0 ;
}

.container img {
    float: left;
    margin-right: 100px;
    margin-bottom: 20px;
    border-radius: 7% 0 7% 0;
    box-shadow: #024959 10px 5px 5px; 
}

.container p{
    float: left;
    color:  #024959;
}


#work  {
    margin-top: 30px;
    border:5%;
    background-color:#D9B29C;
    padding: 20px;
    height: 1150px;
    border-radius: 0 5% 0 5%;
}

#work h1{
    color: #024959;
    font-size: 30px;
}
 #work p{
    color: #024959;
    font-size: 20px;
    margin-bottom: 20Px;
 }

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    font-size: 16px;
    background-color: #FEFAE0  ;
    margin: 0 10px; /* Marge autour des cartes pour l'espacement */
    text-align: center;
    line-height: 30px; /* Centrer verticalement le texte */
    color: #024959;
    box-shadow: 16px -16px #024959;
    margin-left: 20px;
    
  }


  img {
    border-radius: 5px 5px 0 0;
  }
   

.card-container {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.html{
    padding-left: 30px;
}

.carde {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    font-size: 20px;
    background-color: #FEFAE0  ;
    margin: 0 10px; /* Marge autour des cartes pour l'espacement */
    text-align: center;
    line-height: 30px; /* Centrer verticalement le texte */
    color: #024959;
    box-shadow: 16px -16px #D9B29C;
    margin-left: 20px;
}

.containers {
    display: flex;
    justify-content:center;
    margin-bottom: 80px;
    margin-top: 80px;
  
}
#Resume {
    margin-top: 30px;
    background-color: #024959;
    border:5%;
    padding: 20px;
    height: 800px;
    border-radius: 5% 0  5% 0;
    color: #D9B29C;
    font-size: 20px;
}

.Ecrit-moi{
    margin: 20px;
    padding: 20px;
    border: 2px solid #D9B29C;
    border-radius: 10px 0 10px 0;
    background-color: #D9B29C;
    color: #024959;
}

.Ecrit-moi h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .Ecrit-moi form {
    margin-bottom: 20px;
    margin-left: 150px;
  }

  .Ecrit-moi label {
    display: block;
    font-weight: bold;
  }

  .Ecrit-moi input[type="text"],
.Ecrit-moi textarea {
  padding: 10px;
  margin-left: 20px;
  border-radius: 5px;
}

.Ecrit-moi button {
    padding: 10px 20px;
    background-color: #024959;
    color: #A66249;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.formulaire{
    display: flex;
    float: left;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
}
  div a svg {
    vertical-align: middle;
  }
  
.container-contact a {
    display: flex;
    text-align: center;
}
